/* ヘッダー */
table.info thead th {
	background:#69491A;
	font-weight: bold;
	color:#fff;
}

table.info{
    margin-top: 30px;
    border-collapse: collapse;
    border:1px solid #333;
    table-layout: fixed;
    width: 450px;
	background:#FFFFFF;
}
table.info td{
    border-collapse: collapse;
    border:1px solid #333;
}


/* ボディ項目・フッター項目 */
table.info tbody th{
	background:#FFFFFC;
	font-weight: bold;
}

/* 偶数行　１行ごとの色変えが不要なら削除 */
table.info tr:nth-child(2n) td {
    background: #FBFBF6;
}

.heading18 {
	position: relative;
	padding-bottom: 10px;
	font-size: 26px;
}

.heading18::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20%;
	height: 3px;
	background-image: repeating-linear-gradient(90deg, #b4a983 0, #b4a983 8px, rgba(0,0,0,0) 8px, rgba(0,0,0,0) 11px);
}

  body {
    margin: 0;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: #ffffff;
    /* padding-top: 90px; */
  }

  header {
    height: 120px;
    width: 100%;
    padding: 0px 15px;
    background-color: #FDF5E6;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    font-family: 'Anton', sans-serif;
  }

  .logo {
    font-size: 25px;
  }

  nav {
    margin: 0 0 0 auto;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: #000000;
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 20px;
  }

  /*▽▽ヘッダーリストのアンダーバー▽▽*/
li ::after {
    position: absolute; /*親要素であるaタグを基準に位置を指定*/
    bottom: 10px; /*アンダーバーが位置する、各リストの下端からの高さ*/
    left: 0;/*アンダーバーを各リストの左端に指定*/
    content: ''; /*本来は、擬似要素に入るテキストなどを’’内に指定。今回はアンダーバーなので何も記載しない*/
    width: 100%; /*アンダーバーの幅は各リストの幅*/
    height: 2px; /*アンダーバーの高さ（太さ）*/
    background: #000000; /*アンダーバーの色*/
    transform: scale(0, 1);/*アンダーバーの縮尺比率。ホバー前はx方向に0*/
    transform-origin: center top;/*変形（アンダーバーの伸長）の原点を、liの真ん中指定*/
    transition: transform 0.75s;/*変形の時間*/
  }

  li :hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
  }

.content{
    margin-top: 130px;
    margin-left: 30px;
}

.btn--kon {
    color: #fff;
    background-color: #69491A;
    border-bottom: 5px solid #69491A;
}

.btn--kon:hover {
    margin-top: 3px;
    color: #fff;
    background: #69491A;
    border-bottom: 2px solid #69491A;
}
